div.dataTables_length {
    padding-left: 2em;
    }
    div.dataTables_length,
    div.dataTables_filter {
        padding-top: 0.55em;
        float: left !important;
    padding-left: 4.55em;
    margin-left : 2.5em;
    color: rgba(232, 137, 116, 0.494)
    }
    div.dataTables_length,
    div.dataTables_paginate{
        padding-right: 4.55em;
    margin-right : 2.5em;
    }

