.table_prof{
    border-collapse: separate;
}
.th_prof{
    border: 3px inset rgba(40, 60, 209, 0.645);
    border-radius: 10px;
    background-image: linear-gradient(rgb(242, 243, 170), rgb(242, 243, 90), rgb(242, 243, 170)) !important;

 
}
.round_event{
    border: 1px solid !important;
    border-color: black !important; 
    border-radius: .75rem !important;
    /* border-color: rgb(143, 143, 139); */
}
.td_prof_first{
    border: 2px solid rgba(40, 60, 209, 0.645) ;
    border-radius: 10px 10px 0px 0px;
}
.tfoot-prof{
    border: 2px inset rgba(40, 60, 209, 0.645);
    border-radius: 10px;

}
.td_prof_end{
    border: 2px solid rgba(40, 60, 209, 0.645) ;
    border-radius: 0px 0px 10px 10px;
}
.degrad_celeste{
    background-image: linear-gradient(rgba(178, 228, 245, 0.22), rgba(95, 184, 216, 0.255), rgba(178, 228, 245, 0.22)) !important;
    
}
.degrad_azul{
    
    background-image: linear-gradient(rgba(88, 92, 136, 0.631), rgba(0, 46, 95, 0.878), rgba(88, 92, 136, 0.631)) !important;
    color: white;
    font-size: 10px;
    padding-left: 10px;

}
.td_prof_body{
    
    border: 2px solid rgba(40, 60, 209, 0.645) ;
    
}
#nit{
    text-align: center !important;
}
.fuente{
    font-family: adobe-hebrew, sans-serif !important;
font-style: normal !important;
color: rgb(19, 27, 85);
}
.doble_col{
    flex: 0 0 auto;
    width: 56.8%;
}
.inp_prof{
    border: 0 !important;
}
.inp_datos{
    
    border-color: rgb(155, 155, 155);
    border-radius: 0%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* border-bottom: 1px; */
}
.toast_per{
    display: none;

}
  #tbody_shopList{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }