.nav-item:hover{
    background-color: rgba(75, 71, 71, 0.35);
}
#dropdown_perfil{
    transition: all 0.5s;
    /* background-color: rgba(53, 59, 114, 0)!important; */
}
#sidebar-wrapper{

    background: linear-gradient(-120deg,#07072d ,#16143c,#16143c,#7f3934 );
    /* background-image: url(../img/tendencias-cocteleria-2019.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top; */
}
