
.table_prof{
    border-collapse: separate;
}
.th_prof{
    border: 3px inset rgba(40, 60, 209, 0.645);
    border-radius: 10px;
    background-image: linear-gradient(rgb(242, 243, 170), rgb(242, 243, 90), rgb(242, 243, 170)) !important;

 
}
.round_event{
    border: 1px solid !important;
    border-color: black !important; 
    border-radius: .75rem !important;
    /* border-color: rgb(143, 143, 139); */
}
.td_prof_first{
    border: 2px solid rgba(40, 60, 209, 0.645) ;
    border-radius: 10px 10px 0px 0px;
}
.tfoot-prof{
    border: 2px inset rgba(40, 60, 209, 0.645);
    border-radius: 10px;

}
.td_prof_end{
    border: 2px solid rgba(40, 60, 209, 0.645) ;
    border-radius: 0px 0px 10px 10px;
}
.degrad_celeste{
    background-image: linear-gradient(rgba(178, 228, 245, 0.22), rgba(95, 184, 216, 0.255), rgba(178, 228, 245, 0.22)) !important;
    
}
.degrad_azul{
    
    background-image: linear-gradient(rgba(88, 92, 136, 0.631), rgba(0, 46, 95, 0.878), rgba(88, 92, 136, 0.631)) !important;
    color: white;
    font-size: 10px;
    padding-left: 10px;

}
.td_prof_body{
    border: 2px solid rgba(40, 60, 209, 0.645) ;
    
}
.row1{
    
    border: 3px solid red;
    position: relative;
    width: 100%;
    height: 10em;
    
}
.col{
    display: inline-block;
    /* position: absolute; */
    
    
}
#logo{
    position: absolute;
  left: 100px;
  top: 150px;

}
#sidetxt{
    position: absolute;
  left: 500px;
  top: 150px;

}




