.imagen{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    /* border-style: solid; */
    /* border-color: black!important; */
    border-radius: 50%;
    z-index: -3 !important;
    
}
.edit_icon{
    margin-left:  15.3em!important;
    margin-right: 10em !important;
    margin-top: -1.8em !important;

}
.icon{
    margin-left:  -0.3em!important;
    margin-right: 1em !important;
    margin-top: 0em !important;
}
.back_icon{
    width: 2.5em;
    height: 2.5em;
    z-index: 2 !important;
    border-radius: 50% !important;
    background-color: cadetblue;
    outline: none !important;
}
button:active{
 background-color: chartreuse;
 outline: none;
}
