table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}
/* .table-fixed tbody{ display: block; }

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
} */
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
.my-custom-scrollbar-list
{
    position: relative;
    height: 65vh;
    overflow: auto;
}
.list-wrapper-scroll-y {
    display: block;
}